@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 12px;
}

html {
  @apply bg-gray-950;
  color: white;
}

.navbar {
  background: rgba(35, 35, 35, 0.96);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(35, 35, 35, 0.3);
}

.typemark {
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
