@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 12px;
}

html {
  @apply bg-gray-950;
  color: white;
}

.navbar {
  background: rgba(35, 35, 35, 0.96);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(35, 35, 35, 0.3);
}

.typemark {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pulse-container {
  animation: pulse 3s infinite ease-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 52px #007cf0, 0px 0px 20px #00dfd8,
      inset 0px 1px 1px rgba(255, 255, 255, 0.22);
  }
  70% {
    box-shadow: 0px 0px 70px #007cf0, 0px 0px 40px #00dfd8,
      inset 0px 1px 1px rgba(255, 255, 255, 0.22);
  }
  100% {
    box-shadow: 0px 0px 52px #007cf0, 0px 0px 20px #00dfd8,
      inset 0px 1px 1px rgba(255, 255, 255, 0.22);
  }
}
